<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Euro Air</a>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand fw-bold" href="#" style="font-size:30px;">Euro Air </a>

<div class="nav-item ms-auto"> 

    
    <i class="fa fa-search" aria-hidden="true" style="font-size:30px; cursor: pointer;"></i> &nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-bell" style="font-size:30px; cursor: pointer;"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-globe" aria-hidden="true" style="font-size:30px; cursor: pointer;"></i>
    
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </div>

  </nav>


<div class="col-lg-3 col-md-6 col-sm-12">

    <div>
        <div class="card-header">
            <div>Look for a Flight</div>

        </div>
        <div class="card-body">
            <form action="">
                <table>
                    <tr>
                        <td>
                            <label for="radio" class="fw-bold"> Trip : </label>
                        </td>

                        <td>
                            <input type="radio" name="way"> One-Way
                        </td>
                        <td>
                            <input type="radio" name="way"> Return
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>
                            <label for="from">From</label>
                        </td>
                        <td colspan="2">
                            <input class="form-control" type="text" id="from">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="to"> To </label>
                        </td>
                        <td colspan="2">
                            <input class="form-control" type="text" id="to">
                        </td>

                    </tr>
                    <br>
                    <tr>
                        <td>
                            <label for="departure">Departure</label>
                        </td>
                        <td colspan="2">
                            <input id="departure" class="form-control" type="date">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="adult">Adult</label>
                        </td>
                        <td colspan="2">
                            <input class="form-control" type="number" id="adult">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="children">children</label>
                        </td>
                        <td colspan="2">
                            <input class="form-control" type="number" id="children">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button class="form-control" type="submit"> Search Now </button>
                        </td>
                    </tr>
                </table>
            </form>


        </div>
    </div>

    <div>
        <div class="card-header">
            <div>Hotels</div>
        </div>
        <div class="card-body">
            <form action="">
                <table>
                    <tr>
                        <td><label for="where"> Where </label></td>
                        <td colspan="2"> <input type="text" class="form-control" id="where"> </td>
                    </tr>
                    <tr>
                        <td><label for="checkin">Check IN</label></td>
                        <td colspan="2">
                            <input class="form-control" type="date" id="checkin">
                        </td>

                    </tr>
                    <tr>
                        <td><label for="checkout">Check Out</label></td>
                        <td colspan="2"><input class="form-control" type="date" id="checkout"></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button type="submit" class="form-control">Search</button>
                        </td>
                    </tr>
                </table>
            </form>






        </div>

    </div>


    <div>
        <div class="card-header">
            <div>Cars</div>

        </div>
        <div class="card-body">

            <form action="">
                <table>
                    <tr>
                        <td><label for="where">Where</label></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="pickup">PickUp</label></td>
                        <td><input type="datetime-local" class="form-control" id="pickup"></td>
                    </tr>
                    <tr>
                        <td><label for="return"> Return </label>
                        </td>
                        <td>
                            <input type="date" class="form-control" id="return">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><button type="submit" class="form-control">Search</button></td>
                    </tr>
                </table>
            </form>

        </div>


    </div>


    <div>
        <div class="card-header">
            <div>Register</div>
        </div>
        <div class="card-body">
            <form action="">
                <table>
                    <tr>
                        <td><label for="first">FirstName</label></td>
                        <td colspan="2"><input class="form-control" type="text" id="first"></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="last">Last</label>
                        </td>
                        <td colspan="2"><input type="text" class="form-control" id="last"></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email</label></td>
                        <td colspan="2"><input type="email" class="form-control" id="email"></td>
                    </tr>
                    <tr>
                        <td><label for="login">Login</label></td>
                        <td colspan="2"><input type="text" class="form-control" id="login"></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><input type="password" class="form-control" id="password"></td>
                    </tr>
                    <tr>
                        <td><label for="confirm">ConfirmPassword</label></td>
                        <td><input type="password" class="form-control" id="confirm"></td>
                    </tr>
                </table>
            </form>

        </div>
    </div>

<!-- 



<!-- 
<div class="row mt-5 ms-3">
    <div class="col">
        <table class="table table-bordered">
            <tr>
                <th>Direction</th>
                <th>Date</th>
                <th>Time</th>
                <th>Price</th>
                <th>Yousave</th>
                <th>Tickets</th>
                <th>Status</th>
                
            </tr>
            <tr *ngFor="let offer of offers;"[ngClass]="check(offer)"(click)="action(offer)">
                <td>{{offer.Diection}}</td>
                <td>{{offer.Date}}</td>
                <td>{{offer.Time}}</td>
                <td>{{offer.Price}}</td>
                <td>{{offer.Yousave}}</td>
                <td>{{offer.Tickets}}</td>
                <td>{{offer.Status}}</td>
            </tr>
        </table>
    </div>
</div>  -->


<!-- //regular -->

<!-- <div class="row mt-6 ms-4">
    <div class="col">
        <table class="table table-bordered">
            <tr>
                <th>number</th>
                <th>direction</th>
                <th>date</th>
                <th>departs</th>
                <th>arrives</th>
                <th>comments</th> -->
                
            <!-- </tr> -->
            <!-- <tr *ngFor="regular of regular;"[ngClass]="check(regular)"click="action(regular)"> --> -->
                <!-- <td>{{regular.number}}</td>
                <td>{{regular.direction}}</td>
                <td>{{regular.date}}</td>
                <td>{{regular.departs}}</td>
                <td>{{regular.arrives}}</td>
                <td>{{regular.comments}}</td>
                
            </tr>
        </table>
    </div>
 </div>

 //info -->

<!-- <div class="row mt-6 ms-4">
    <div class="col">
        <table class="table table-bordered">
            <tr>
                <th>flight</th>
                <th>from</th>
                <th>to</th>
                <th>departs</th>
                <th>arrives</th>
                <th>status</th>

            </tr> -->
<!-- <tr *ngFor="info of info;"[ngClass]="check(info)"click="action(info)">
    <td>{{info.flight}}</td>
    <td>{{info.from}}</td>
    <td>{{info.to}}</td>
    <td>{{info.departs}}</td>
    <td>{{info.arrives}}</td>
    <td>{{info.status}}</td>
    
</tr>
</table>
</div> -->
<!-- </div>  -->